body{
    font-family: sans-serif;
    margin: auto;
    margin-top: 10px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid rgba(103, 101, 101, 0.3);
    box-shadow: 0px -1px 1px rgb(0 0 0 / 0.2);
}

header{
    display: grid;
    grid-template-columns: 100%;
}

#top{
    height: 50px;
}

.drop-box{
    background-color: blueviolet;
    padding:15px;
    color: white;
}

#logo{
    float: right;
}

.background-pic{
    background-image: url("doctor.jpg");
    background-size: 100% 100%;
    height: 150px;
}

.background-pic > h2{
    color: white;
    margin: 80px;
    margin-left: 40px;
}
.menu{
    display: flex;
    justify-content:space-around;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    
}

.menu > span {
    margin-left: 10px;
    margin-right: 10px;
}
main{
    padding: 40px;
}
main > h2{
    margin: 30px;
    text-align: center;
    color:blueviolet
}
.message > span{
    font-weight: 600;
    color:blueviolet;
}