body{
    display: grid;
    font-family: sans-serif;
    height: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);    
}

header{
    display: grid;
    grid-template-columns: 100%;
}

#top{
    height: 50px;
}

.drop-box{
    background-color: blueviolet;
    padding:15px;
    color: white;
}

#logo{
    float: right;
}

main{
    background: linear-gradient(to left, rgba(255,255,255,0.5)80%,
    rgba(255,255,255,1)) 100%, url(doctor_patient.jpg);
    background-size: cover;
    padding: 50px;
    min-height: 350px;
}
.bold-text{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
.bold-text > p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.message{
    width: 30%;
}
#block-text{
    background-color: blueviolet;
    padding: 10px;
}

