.main{
    margin: auto;
    background-color: rgb(125, 70, 151);
    width:230px;
    color: white;
}

.white-space{
    height: 50px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px -1px 1px rgb(0 0 0 / 0.2);
}

.fa-regular{
    margin: 15px;
    margin-left:200px; 
}

p, span {
    padding-left: 30px;
}
hr{
    opacity: 0.4;
}
